<%= simple_form_for :conversation, url: :conversations do |f| %>

<div class="input string required conversation_recipients">
  <p>Destinataire :</p>
  <label class="string required" for="conversation_recipients"></label>
  <input class="string required" id="conversation_recipients" name="conversation[recipients]" required="required" size="50" type="text" />
</div>

<div class="input string required conversation_subject">
  <p>Sujet :</p>
  <label class="string required" for="conversation_subject"></label>
  <input class="string required" id="conversation_subject" name="conversation[subject]" required="required" size="50" type="text" />
</div>

<div class="input string required conversation_body">
  <p>Message :</p>
  <label class="string required" for="conversation_body"></label>
  <textarea class="string required span8" id="conversation_body" name="conversation[body]" required="required" style="height: 100px"></textarea>
</div>

<input class="button btn btn-primary" name="commit" type="submit" value="Envoyer">
<%= submit_tag 'Annuler', type: :reset, class: 'btn btn-danger' %>
<% end %>
